.benefits_padding {
  padding: 40px 0 60px 0;
}

@media screen and (min-width: 970px) {
  .benefits_padding {
    padding: 80px 0 60px 0;
  }
}

.benefits_button_box {
  margin: 0 0 60px 0;
}

@media screen and (min-width: 970px) {
  .benefits_button_box {
    display: flex;
    justify-content: center;
  }
}

.benefits_button {
  background-color: #e90000;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  font-weight: 800;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 970px) {
  .benefits_button {
    padding: 15px 30px;
  }
}

.benefits_sentence {
  margin: 0 0 10px 0;
}

@media screen and (min-width: 970px) {
  .benefits_sentence {
    margin: 0;
  }

  .benefits_sentence:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

@media screen and (min-width: 970px) {
  .benefits_sentence {
    display: flex;
  }
}

.benefits_title {
  font-size: 18px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
}

.benefits_title::after {
  content: "";
  display: flex;
  width: 80%;
  margin: 0 auto 40px auto;
  border-bottom: 2px solid #e90000;
}

@media screen and (min-width: 970px) {
  .benefits_title::after {
    content: "";
    display: flex;
    width: 80%;
    border-bottom: 2px solid #e90000;
  }
}

.benefits_title_supp {
  color: #e90000;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 80px 0;
}

@media screen and (min-width: 970px) {
  .benefits_title_supp {
    display: none;
  }
}

.benefits_supptitle {
  color: #e90000;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 80px 0;
}

@media screen and (min-width: 970px) {
  .benefits_supptitle {
    font-size: 58px;
    margin: 0;
  }
}

.benefits_advantage_mobile {
  display: block;
}

@media screen and (min-width: 970px) {
  .benefits_advantage_mobile {
    display: none;
  }
}

.benefits_advantage {
  display: flex;
}

.benefits_advantage:not(:last-child) {
  margin: 0 0 20px 0;
}

.benefits_advantage_img {
  width: 50px;
}

.benefits_advantage_icon {
  margin: 0 10px 0 0;
}

.benefits_advantage_case {
  background-color: #000;
  border-radius: 8px;
  color: #dfb85d;
  padding: 15px 15px 30px 15px;
}

.benefits_advantage_case_title {
  font-weight: 800;
}

.benefits_advantage_case_supptitle {
  color: rgb(255 255 255 / 80%);
}

.choose_padding {
  padding: 0 0 60px 0;
}

.choose_title {
  font-size: 22px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
}

.choose_supptitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-align: center;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.choose_text {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
  width: 80%;
  margin: 0 auto 40px auto;
}

.choose_button {
  background-color: #e90000;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  font-weight: 800;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 970px) {
  .choose_button {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .present_desktop {
    display: flex;
    align-items: center;
  }
}

.present_padding {
  padding: 40px 0 80px 0;
}

.present_background {
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .present_video_desktop {
    width: 100%;
  }
}

.present_img img {
  margin: 0 auto;
  display: inherit;
  width: inherit;
}

.present_img {
  width: 100%;
  margin: 0 0 40px 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .present_img {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .present_img img {
    display: inline;
    width: 90%;
  }
}

.skills_title {
  font-size: 28px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
}

.skills_padding {
  padding: 40px 0 0 0;
}

.skills_title {
  margin: 0 0 60px 0;
  display: block;
}

.skills_sentence {
  display: flex;
}

.skills_sentence:not(:last-child) {
  margin: 0 0 20px 0;
}

.skills_case {
  background-color: #000;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.skills_case_title {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.skills_case_supptitle {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.skills_case_supptitle_next {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.skills_sentence_next {
  display: flex;
}

.skills_sentence_next:not(:last-child) {
  margin: 0 0 20px 0;
}

.skills_case_next {
  background-color: #1e1e1eca;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.skills_case_title_next {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.skills_content {
  margin: 0 0 40px 0;
}

.skills_content_next {
  margin: 0 0 40px 0;
}

.skills_title {
  font-size: 28px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
}

.skills_padding {
  padding: 40px 0 0 0;
}

.skills_title {
  margin: 0 0 60px 0;
  display: block;
}

.skills_sentence {
  display: flex;
}

.skills_sentence:not(:last-child) {
  margin: 0 0 20px 0;
}

.skills_case {
  background-color: #000;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.skills_case_title {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.skills_case_supptitle {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.skills_case_supptitle_next {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.skills_sentence_next {
  display: flex;
}

.skills_sentence_next:not(:last-child) {
  margin: 0 0 20px 0;
}

.skills_case_next {
  background-color: #1e1e1eca;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.skills_case_title_next {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.skills_content {
  margin: 0 0 40px 0;
}

.skills_content_next {
  margin: 0 0 40px 0;
}

.technology_title {
  font-size: 28px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 60px 0;
  display: block;
}

.technology_padding {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 970px) {
  .technology_padding {
    padding: 120px 0 60px 0;
  }
}

.technology_sentence {
  display: flex;
}

.technology_sentence:not(:last-child) {
  margin: 0 0 20px 0;
}

.technology_case {
  background-color: #000;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.technology_case_title {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.technology_case_supptitle {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.technology_case_supptitle_next {
  line-height: 1.5;
  color: rgb(255 255 255 / 70%);
}

.technology_sentence_next {
  display: flex;
}

.technology_sentence_next:not(:last-child) {
  margin: 0 0 20px 0;
}

.technology_case_next {
  background-color: #1e1e1eca;
  border-radius: 8px;
  color: #dfb85d;
  padding: 20px;
}

.technology_case_title_next {
  font-weight: 800;
  display: flex;
  font-size: 18px;
  align-items: baseline;
}

.technology_content {
  margin: 0 0 40px 0;
}

.technology_content_next {
  margin: 0 0 40px 0;
}

.technology_button {
  background-color: #dfb85d;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  font-weight: 800;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 970px) {
  .technology_button {
    width: 50%;
  }
}

.brand_background {
  background-color: #1e1e1eca;
}

.brand_padding {
  padding: 100px 0;
}

.brand_title {
  font-size: 18px;
  color: #dfb85d;
  text-transform: uppercase;
  text-align: center;
}

.brand_title::after {
  content: "";
  display: flex;
  width: 80%;
  margin: 0 auto 20px auto;
  border-bottom: 2px solid #e90000;
}

.brand_text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-align: center;
  margin: 0 0 40px 0;
}

.brand_button {
  background-color: #e90000;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  font-weight: 800;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 970px) {
  .brand_button {
    width: 50%;
  }
}

.benefits_cicle_padding {
  padding: 0 0 80px 0;
}

.benefits_cicle_title {
  color: #fff;
}

.benefits_cicle_supptitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.benefits_cicle_supptitle span {
  text-align: center;
  font-weight: 800;
  color: #dfb85d;
}

.resource_cicle_slider {
  margin: 0 0 20px 0;
}

.resource_cicle_slider_math {
  margin: 0 0 60px 0;
}

.resource_cicle_slider_math_list {
  display: flex;
  justify-content: center;
}

.resource_cicle_slider_math_sentence {
  display: flex;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin: 5px;
}

.resource_cicle_slider_math_sentence_current {
  background-color: #fff;
}

.resource_cicle_sentence_final {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1eca;
  padding: 40px 80px;
  border-radius: 8px;
  margin: 0 0 10px 0;
}

.resource_cicle_sentence_box_img_final {
  margin: 0 auto 20px auto;
}

.resource_cicle_sentence_img_final {
  width: 180px;
}

.resource_cicle_sentence_box_title_final {
  color: #dfb85d;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 22px;
}

.resource_cicle_sentence_supptitle_final {
  margin: 0;
}

.resource_cicle_sentence_text_final {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 24px;
  height: 50px;
}

.resource_cicle_sentence_supptext_final {
  color: #dfb85d;
  font-size: 24px;
  font-weight: 800;
}

.benefits_slider_desktop {
  display: none;
}

@media screen and (min-width: 970px) {
  .benefits_slider_desktop {
    display: block;
  }
}
